flows.json
[{"id":"2fb31d1e.0cf912","type":"tab","label":"Flow 9","disabled":false,"info":""},{"id":"a79994d6.fd5b88","type":"inject","z":"2fb31d1e.0cf912","name":"訂閱 AirCon","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":310,"y":200,"wires":[["620855ac.32f9cc"]]},{"id":"98f9ae22.0dcdf","type":"debug","z":"2fb31d1e.0cf912","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":690,"y":200,"wires":[]},{"id":"e82711ae.a6428","type":"http in","z":"2fb31d1e.0cf912","name":"","url":"/AirCon","method":"post","upload":false,"swaggerDoc":"","x":290,"y":100,"wires":[["47d8846e.c42edc"]]},{"id":"47d8846e.c42edc","type":"xml","z":"2fb31d1e.0cf912","name":"","property":"payload","attr":"","chr":"","x":450,"y":100,"wires":[["f5a8255a.ae2198"]]},{"id":"9119ae7e.3bbef","type":"http response","z":"2fb31d1e.0cf912","name":"Notification Response","statusCode":"","headers":{},"x":800,"y":80,"wires":[]},{"id":"8dd6ceb6.a148f","type":"inject","z":"2fb31d1e.0cf912","name":"刪除訂閱 AirCon","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":320,"y":260,"wires":[["3af1b874.ed91a8"]]},{"id":"8d333724.6b8018","type":"debug","z":"2fb31d1e.0cf912","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":690,"y":260,"wires":[]},{"id":"3af1b874.ed91a8","type":"http request","z":"2fb31d1e.0cf912","name":"","method":"DELETE","ret":"txt","paytoqs":"ignore","url":"http://192.168.198.130:8282/~/mn-cse/sub-738379856","tls":"","persist":false,"proxy":"","authType":"basic","x":510,"y":260,"wires":[["8d333724.6b8018"]]},{"id":"620855ac.32f9cc","type":"Subscription","z":"2fb31d1e.0cf912","name":"","platform":"30961f57.e7077","sensor":"4f11d0df.922d6","container":"DATA","path":"/in-cse/in-name/AE_IPE","x":510,"y":200,"wires":[["98f9ae22.0dcdf"]]},{"id":"f5a8255a.ae2198","type":"switch","z":"2fb31d1e.0cf912","name":"","property":"payload[\"m2m:sgn\"].nev[0]","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":100,"wires":[["9119ae7e.3bbef"],["3d74dd56.6c57b2"]]},{"id":"3d74dd56.6c57b2","type":"function","z":"2fb31d1e.0cf912","name":"取出狀態","func":"var data = msg.payload[\"m2m:sgn\"].nev[0].rep[0][\"m2m:cin\"][0].con[0];\nmsg.payload = data\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":120,"wires":[["b8a79270.ad7bc"]]},{"id":"bde01eea.bb24e","type":"debug","z":"2fb31d1e.0cf912","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1170,"y":120,"wires":[]},{"id":"b8a79270.ad7bc","type":"xml","z":"2fb31d1e.0cf912","name":"","property":"payload","attr":"","chr":"","x":890,"y":120,"wires":[["40f7aa8c.1f5184"]]},{"id":"40f7aa8c.1f5184","type":"function","z":"2fb31d1e.0cf912","name":"","func":"var New = {state:null,temp:null,fan:null};\nNew.state = msg.payload.obj.bool[0].$.val;\nNew.temp = msg.payload.obj.str[0].$.val;\nNew.fan = msg.payload.obj.str[1].$.val;\nmsg.payload = New;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":120,"wires":[["bde01eea.bb24e"]]},{"id":"30961f57.e7077","type":"xN_CSE","z":"","platform":"mn-cse","URLBase":"http://192.168.198.130:8282/~/mn-cse/mn-name","user":"admin","password":"admin"},{"id":"4f11d0df.922d6","type":"AE","z":"","appId":"Air_Conditioner"}]
